---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row t60">
	    Créé à Toulouse en 1945, le T.A.C. Rugby est un club et une école de rugby mixant toutes les ethnies, toutes les cultures autour de la passion commune du ballon ovale.
    </div><!-- /.row -->
</div><!-- /#header-home -->

{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t60">
	{% if page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->

{% comment %}
*
* First check, if there are any posts at all
*
{% endcomment %}

{% unless site.posts == empty %}
    <div class="row">
        <div class="columns">
            <p><strong>{{ site.data.language.more_articles }}</strong></p>
            {% include list-posts entries='5' offset='1' %}
        </div><!-- /.medium-7.columns -->
    </div><!-- /.row -->
{% endunless %}


{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
